

.weat {
	
	position: relative;
	height: 1200px;
	top: 0;
	left: 0;

	width: 100%;
	/* background: #191919; */
	background-image: url("./images/b6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.weather-app {
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.NotFoundWrapper{
  	max-width: 600px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin: 100px auto 0;
  	padding: 20px;
	position: relative;
  	border-radius: 10px;
  	background-color: rgba(59, 59, 59, 0.521);
  	border-radius: 10px;
  	opacity: 1;
	visibility: visible;
    top: 0;
  
}



.NotfoundIcon{
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  margin-right: 10px;
}

.AppTitle{
	display: block;
  height: 64px;
  margin: 0;
  padding: 10px 0;
  font-size: 30px;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  transition: 0.3s 1.4s;
}

.WeatherWrapper{
	max-width: 1500px;
  margin: 0 auto;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
}
.WeatherWrapperload{
	max-width: 1500px;
  margin: 0 auto;
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
}
.iii{
	padding-left:460px;
	padding-top: 50px;
}
.iii img{
	height: 550px;
	width: 550px;
}

.SearchBar{
	top: 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  transition: 0.8s 0.5s;
}

.SearchInput{
	width: 100%;
	border: none;
	margin-top: 20px;
	background-color: #ffffff;
	font-size: 16px;
	padding: 10px 15px 10px 40px;
	color: #c5c5c5;
	transition: 0.2s;
	border-radius: 20px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	
}

.SearchInput:focus{
	 color: #191919;
	  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	  outline: none;
}

.SearchIcon{
	display: block;
  position: absolute;
  top: 33px;
  left: 14px;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  font-size: 14px;
  color: #c5c5c5;
}

.ForecastWrapper{
	flex-shrink: 0;
  flex-basis: 90px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 15px;
  background-color: rgba(99, 99, 99, 0.39);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 
}

.ForecastWrapper:first-child {
    margin-left: 0;
  }

.ForecastWrapper:last-child {
    margin-right: 0;
  }

  .ForecastWrapper1{
  padding: 10px;
  margin: 0 5px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  background-color: rgba(99, 99, 99, 0.39);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 
}



.Results{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  
  position: relative;
  padding: 40px 0;
  top: 20px;
  visibility: visible;
  top: 0;
}


.rrr{
	display:flex;
	justify-content: space-between;
	margin-left: 30px;
	
}

.di{
	width: 700px;
	height: auto;
}

.tm{
	margin-left: 70px;
}

.BigLabel{
  color: white;
  display: block;
  font-weight: 600px;
  font-size: 40px;
  text-align: left;
  padding: 5px 0;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.SmallLabel{
  color: white;
  display: block;
  font-weight: 600px;
  font-size: 20px;
  text-align: left;
  padding: 5px 0;
  
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.SmallLabel2{
	color: white;
	display: block;
	font-weight: 600px;
	font-size: 20px;
	text-align: left;
	padding: 5px 0;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
.SmallLabel1{
	color: white;
	display: block;
	font-weight: 400px;
	font-size: 30px;
	text-align: center;
	padding: 5px 0;
	
  }

  .ic{
	text-shadow: 3px 6px #272634;
  }

.WeatherIcon{
	display: block;
  height: 50px;
  width: 50px;
  text-shadow: 3px 6px #272634;
  margin-left: 30px;
}

.CurrentWeatherWrapper{
  flex-basis: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 40px 0;
  grid-gap: 30px;
  
}


.WeatherIcon{
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #ffffff;
  text-shadow: 3px 6px 6px #272634;
  
}
.Temperature{
  display: block;
  font-size: 65px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);

}
.WeatherDetailsWrapper{
  flex-basis: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 20px;
  align-self: flex-start;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.WeatherDetail{
  flex-basis: calc(100% / 3);
  padding: 10px;
}
.ForecastWrappe{
  flex-basis: 100%;
  margin: 20px 0;
  overflow: hidden;
}
.Forecastwrapp{
	width: 200px;
}
.ForecastWrappe2{
	flex-basis: 100%;
	margin: 30px 0;
	
	
}
.Forecast{
	position: relative;
  display: flex;
  overflow-x: visible;
  overflow-y: hidden;
  justify-content: center;
  scrollbar-color: lightgray #ffffff;
  scrollbar-width: thin;
  margin-top: 20px;
  padding-bottom: 20px;
  height: 200px;
  
}
.Forecast2{
	position: relative;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  
  scrollbar-color: lightgray #ffffff;
  scrollbar-width: thin;
  margin-top: 20px;
  padding-bottom: 20px;
}


.MediumLabel{
	color: #FFFFFF;
  display: block;
  font-weight: 600px;
  font-size: 30px;
  text-align:center;
  padding: 5px 0;
}

.Text{
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  text-align: center;
}
.Text1{
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	text-align: center;
  }


.weatico{
	display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}